# Supabase
VITE_SUPABASE_URL= https://tayozgtdrksrvckrvlja.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRheW96Z3RkcmtzcnZja3J2bGphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MTg4OTQsImV4cCI6MjA5NzE5NDg5NH0.MaQEnojrNYEE0RcWCb3Uq8TVXyTfqUqIkwccO_E5xnA


